body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top, #0f172a, #020617);
    font-family: "Segoe UI", sans-serif;
  }
  

  .login-card {
    background: rgba(30, 41, 59, 0.6);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
    width: 360px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .login-title {
    font-size: 26px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .login-subtitle {
    font-size: 14px;
    color: #a5b4fc;
    margin-bottom: 30px;
  }
  
 
  .login-input {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(17, 24, 39, 0.6);
    color: #fff;
    font-size: 14px;
    outline: none;
    margin-bottom: 20px;
    transition: border 0.3s ease, box-shadow 0.3s ease;
   text-transform: uppercase;
  }
  
  .login-input::placeholder {
    color: #9ca3af;
  }
  
  .login-input:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.4);
  }
  

  .login-button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(135deg, #3b82f6, #2563eb);
    color: white;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 5px 15px rgba(37, 99, 235, 0.4);
  }
  
  .login-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(37, 99, 235, 0.6);
  }
  